.h{
    font-family: gabriola;
    font-weight: bolder;
    font-size: 62px;
    color: white;
    text-align: center;
    padding-top: 100px;
    text-shadow: black 0 0 10px;
}

h1{
    color: black;
    text-align: center;
}

h2{
    color: #C71585;
}

h4{
    color: black;
    size: 14px;
    font-family: gabriola;
    margin-top: 10px;
}

a{
    color: #C71585;
}

.b1 {
    background: #FF69B4; /* Синий цвет фона */ 
    color: #C71585; /* Белые буквы */ 
    font-size: 150%; /* Размер шрифта в пунктах */
}
   
.brd {
    border: 4px double black; /* Параметры границы */
    background: #FFB6C1; /* Цвет фона */
    padding: 1px; /* Поля вокруг текста */
    width: 100px;	
    height: 60px;
}
body {
    background-image: url(Design//back.png);
}

.button {
  margin-left: 40px;
  margin-right: 40px;
}

.p{
    font-family: gabriola;
    font-size: 22px;
    text-align: center;
    color: white;
    text-shadow: black 0 0 10px;
}
.p1{
    color: #5c2f0e;
    font-size: 26px;
    font-family: gabriola;
    margin-left: 170px;
    text-shadow: white 0 0 10px;
    font-weight: bold;
    margin-bottom: -5px;
}
.p2{
    color: #5c2f0e;
    font-size: 26px;
    font-family: gabriola;
    margin-left: 205px;
    text-shadow: white 0 0 10px;
    font-weight: bold;
    margin-bottom: -5px;
}
.p3{
    color: #5c2f0e;
    font-size: 26px;
    font-family: gabriola;
    margin-left: 220px;
    text-shadow: white 0 0 10px;
    font-weight: bold;
    margin-bottom: -5px;
}
.p4{
    color: #5c2f0e;
    font-size: 26px;
    font-family: gabriola;
    text-shadow: white 0 0 10px;
    font-weight: bold;
    margin-left: 70px;
    margin-bottom: -5px;
}
.p5{
    color: #5c2f0e;
    font-size: 26px;
    font-family: gabriola;
    text-shadow: white 0 0 10px;
    font-weight: bold;
    margin-left: 20px;
    margin-bottom: -5px;
}
.p6{
    color: #5c2f0e;
    font-size: 26px;
    font-family: gabriola;
    text-shadow: white 0 0 10px;
    font-weight: bold;
    margin-bottom: -5px;
}
