.h{
    color: white;
    text-align: center;
    margin-top: 130px;
}

h1{
    color: black;
    text-align: center;
}

h2{
    color: #C71585;
}

h4{
    color: black;
    size: 14px;
    font-family: gabriola;
    margin-top: 10px;
}

a{
    color: #C71585;
}

.b1 {
    background: #FF69B4; /* Синий цвет фона */ 
    color: #C71585; /* Белые буквы */ 
    font-size: 150%; /* Размер шрифта в пунктах */
}
   
.brd {
    border: 4px double black; /* Параметры границы */
    background: #FFB6C1; /* Цвет фона */
    padding: 1px; /* Поля вокруг текста */
    width: 100px;	
    height: 60px;
}
body {
    background-image: url(Design//back.png);
}

.button {
  margin-left: 40px;
  margin-right: 40px;
}
ransparent{
    opacity: 0;
}
